.header{ 
	height: 100vh; 
	background-image:  url('./assets/athens.jpeg');
	background-size: cover;
  background-position: center;
	filter: brightness(60%);
	position: relative;
}

.title{
	position: absolute;
  top: 50%;
	left: 20%; 
	font-size: 8rem;
	color: white;	
}
